@keyframes glowing {
    0% {
      filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.8));
    }
    25% {
      filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.8));
    }
    50% {
      filter: drop-shadow(0 0 15px rgba(0, 0, 255, 0.8));
    }
    75% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
    }
    100% {
      filter: drop-shadow(0 0 5px rgba(255, 0, 255, 0.8));
    }
  }
  
  .animate-glowing {
    animation: glowing 3s infinite alternate;
  }